.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  font-family: Arial;
}

h1 {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

button:hover {
  background: #333;
}

.card {
   background: white;
   padding: 20px;
   border-radius: 16px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
   text-align: center;
   margin-right: 10px;
}

.card img {
  width: 100px;
  height: 100px;
}

.default {
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

.sunny {
  background: linear-gradient(to top, #fceabb, #f8b500);
}

.clouds {
  background: linear-gradient(to top, #bdc3c7, #2c3e50);
}

.rainy {
  background: linear-gradient(to top, #4e54c8, #8f94fb);
}

.stormy {
  background: linear-gradient(to top, #232526, #414345);
}

.loading {
  margin-top: 20px;
  font-size: 18px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {opacity: 0.3;}
  50% {opacity: 1;}
  100% {opacity: 0.3 ;}
}

.error {
  color: #ff4d4d;
  margin-top: 10px;
  font-weight: bold;
}